# Core Django
Django>=4.2
python-dotenv
django-cors-headers
django-filter
django-storages[boto3]
dj-database-url

# DRF & Auth
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary

# Utilities
Pillow
reportlab
gspread
google-auth
google-cloud-storage==2.14.0

# Server (Production)
gunicorn==21.2.0
whitenoise==6.6.0
